// Fonts 
/////////////////////////////////////////

// font-family
$fontPrimary	: 'Gotham', sans-serif;
$fontSecondary  : 'Roboto', sans-serif;
$fontHeadings   : 'BalooBhaijaan', sans-serif;

// fotn-weight
$thin      : 100;
$light     : 300;
$regular   : 400;
$medium    : 500;
$semiBold  : 600;
$bold      : 700;
$extraBold : 800;
$black     : 900;


// Colors
/////////////////////////////////////////

$colorBase : #000000;

$colorBody : #1A2231;

$colorPrimary : #F5C1BC;
$colorSecondary : #264066;

$colorMenu : #1A2231;
$colorGeneral : #1A2231;

$colorC1C1C3 : #D4D9E0;
$colorE9ECF0 : #E9ECF0;
$color8D9AAE : #8D9AAE;




