/*============================================================================
	#COMMON
==============================================================================*/
.site {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}

.main {

	
}

.container {

	max-width: 1412px;
	padding: 0 16px;
	margin: 0 auto;
}

// .section {
	
// 	&__header {
		
// 		text-align: center;
// 	}

// 	&__title {

// 		font-size: 42px;
// 		font-weight: 400;
// 		line-height: 1.5;
// 		color: $colorSecondary;
// 	}
// }

.section {

	margin-bottom: 120px;
	
	&__header {
		
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;

		&--center {

			justify-content: center;
		}
	}

	&__header--sortby {

		@include _768 {

			flex-direction: column;
			align-items: stretch;
		}
	}

	&__title {

		font-family: $fontHeadings;
		font-size: 48px;
		font-weight: normal;
		line-height: 1.23;
		color: $colorSecondary;

		&--center {
		
			text-align: center;
		}

		&--page {

			font-size: 42px;
		}
	}

	&__sort-by {

		margin-left: 24px;
		flex: 0 0 auto;
		min-width: 190px;

		@include _768 {

			margin-left: auto;
		}
	}

	&__header-button {

		margin-left: 40px;
		flex: 0 0 auto;
	}

	&__footer--center {

		display: flex;
		justify-content: center;
	}

	&__footer-button {

		margin-top: 40px;
		display: none;
	}

	&__pagination {

		margin-top: 40px;
	}

	&__deco {
		
		> * {

			position: absolute;
		}

		._deco-round {
			
			width: 718px;
			height: 718px;
			border: 72px solid $colorSecondary;
			opacity: .05;
			border-radius: 100%;
			z-index: -1;
		}
	}

	&--deco {

		.container {
		
			position: relative;
		}
	}

	&--content-cards {

		._deco-round {

			width: 870px;
			height: 870px;
			top: 130px;
    		right: -510px;
		}
	}

	&--home-reviews {

		._deco-round {

			width: 520px;
			height: 520px;
			top: -260px;
			right: -370px;
		}
	}
}

.page-main {

	padding-bottom: 60px;
	position: relative;
	z-index: 1;

	&__pagination {


	}

	&__deco {

		._item {
			
			position: absolute;
			display: block;
			opacity: 0.05;
			width: 870px;
			height: 870px;
			border: 72px solid $colorSecondary;
			border-radius: 100%;
			z-index: -1;
		}

		._item:first-child {

			top: 320px;
			right: -180px;
		}

		._item:nth-child(2) {

			top: 1540px;
			left: -230px;
		}
	}
}


.block-title {

	font-family: $fontHeadings;
	font-size: 48px;
	font-weight: normal;
	line-height: 1.23;
	color: $colorSecondary;
}

.swiper-lazy-preloader {

	border-color: $colorBase;
	border-top-color: transparent;
}

.swiper-pagination-fraction {

	width: auto;
}

.products-grid {

	&__container {

		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
	}

	&__col {

		margin: 0 15px 30px;
		flex: 0 0 calc(100% / 3 - 30px);
	}
}

.lazy-background {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2P4//vHfwAJ4QPym4ubMgAAAABJRU5ErkJggg==) !important;
    background-repeat: repeat !important;
}

.glass-overflow-in,
.glass-overflow-out {
	
	position: relative;
	overflow: hidden;

	&::before {

		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background: rgba(38, 64, 102, 0.01);
		backdrop-filter: blur(6px);	
		z-index: 101;
	}
}

.glass-overflow-in::before {

	animation: glass-overflow-in 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.glass-overflow-out::before {

	animation: glass-overflow-out 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.to-top {

	
	&._visible {

	}

}

.mfp-bg {

	background: $colorGeneral;
	opacity: .8;
}

.slider-control {
	display: flex;
	align-items: center;

	&__counter {

		margin: 0 17px;
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;

		._current {
			color: $colorSecondary;
			font-size: 24px;
			margin-right: 4px;
		}

		._total {

			font-size: 12px;
			color: $color8D9AAE;
		}
	}
}

@include _1024 {

.site {

	padding-top: 65px;
}

	.block-title {

		font-size: 42px;
		line-height: 1.3;
	}

	.section {

		margin-bottom: 80px;

		&__header {

			margin-bottom: 32px;
		} 

		&__title {

			font-size: 42px;
			line-height: 1.3;
		} 
	}
}

@include _892{

	.block-title {

		font-size: 36px;
	}

	.section {

		&__header {

			margin-bottom: 26px;
		} 

		&__title {

			font-size: 36px;
		}

		&__header-button {

			margin: 0;
			display: none;
		}

		&__footer-button {

			display: block;
		}
	}
}

@include _768 {

	.block-title {

		font-size: 32px;
		line-height: 1.4;
	}

	.section {

		&__header {

			margin-bottom: 24px;
		} 

		&__title {

			font-size: 32px;
			line-height: 1.4;
		}
	} 
}

@include _575 {

	.block-title {

		font-size: 28px;
		line-height: 1.5;
	}

	.section {

		&__header {

			justify-content: center;
		}

		&__title {

			font-size: 28px;
			line-height: 1.5;
			text-align: center;
		}
	}  
}

@include _485 {


}

@media (max-width: 374px) {

	.container { padding: 0 8px; }
}