@@include('partials/header.html')

	<div class="user-profile">
		<header class="user-profile__header">
			<div class="user-profile__bg-image">
				<img src="images/banner.jpg" alt="">
			</div>
			<div class="user-profile__breadcrumbs">
				<div class="container">
					@@include('components/breadcrumb.html')
					<button class="button button-report user-profile__report">Report</button>
				</div>
			</div>
		</header>
		<div class="user-profile__body">
			<div class="container">
				<div class="profile-data">
					<div class="profile-data__inner">
						<div class="profile-data__media">
							<img class="profile-data__image" src="images/demo/demo-1.jpg" alt="">
						</div>
						<div class="profile-data__body">
							<div class="profile-data__head">
								<div class="profile-data__rating">
									@@include('components/star-rating.html', {
										class: 'star-rating--small'
									})
								</div>
								<div class="profile-data__head-control">
									<button class="button button-share">
										<svg class="icon icon-share">
											<use xlink:href="symbol/sprite.svg#icon-share"></use>
										</svg>
										<span>Share</span>
									</button>
									<button class="button button-wishlist">
										<svg class="icon">
											<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
										</svg>
									</button>
								</div>
							</div>
							<div class="profile-data__bio">
								<h1 class="profile-data__title">Sophie Bertrand</h1>
								<div class="profile-data__meta">
									<div class="profile-data__meta-item profile-data__meta-item--categories">

										<svg class="icon icon-study">
											<use xlink:href="symbol/sprite.svg#icon-study"></use>
										</svg>
										<div class="profile-data__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
									</div>
									<div class="profile-data__meta-item profile-data__meta-item--tags">
										<div class="profile-data__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
								</div>
							</div>
							<div class="profile-data__links">
								@@include('components/social-expert.html', {
									class: 'social--profile'
								})
							</div>
							<div class="profile-data__controls">
								<button class="profile-data__button-book button-primary button-primary--dark">Book in-person appointment</button>
								<button class="profile-data__button-book button-primary button-primary--dark">Book video call</button>
								<button class="profile-data__chat button-primary button-primary--icon">
									<svg class="icon icon-chating">
										<use xlink:href="symbol/sprite.svg#icon-chating"></use>
									</svg>
									<span>Chat</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="user-profile__tabs">
			<div class="container">
				<div class="profile-tabs">
					<div class="profile-tabs__header">
						<button class="profile-tabs__tab-button button is-active">Expertise</button>
						<button class="profile-tabs__tab-button button">Bio</button>
						<button class="profile-tabs__tab-button button">Qualifications</button>
						<button class="profile-tabs__tab-button button">Location</button>
						<button class="profile-tabs__tab-button button">Products</button>
					</div>
					<div class="profile-tabs__body">
						<div class="profile-tabs__content-tab is-active">
							<ul class="custom-list custom-list--profile">
								<li class="custom-list__item">
									<svg class="icon icon-checkmark">
										<use xlink:href="symbol/sprite.svg#icon-checkmark"></use>
									</svg>
									<span>Sleep training</span>
								</li>
								<li class="custom-list__item">
									<svg class="icon icon-checkmark">
										<use xlink:href="symbol/sprite.svg#icon-checkmark"></use>
									</svg>
									<span>Weaning</span>
								</li>
								<li class="custom-list__item">
									<svg class="icon icon-checkmark">
										<use xlink:href="symbol/sprite.svg#icon-checkmark"></use>
									</svg>
									<span>Behavioural advice</span>
								</li>
								<li class="custom-list__item">
									<svg class="icon icon-checkmark">
										<use xlink:href="symbol/sprite.svg#icon-checkmark"></use>
									</svg>
									<span>Postpartum & parenting support</span>
								</li>
								<li class="custom-list__item">
									<svg class="icon icon-checkmark">
										<use xlink:href="symbol/sprite.svg#icon-checkmark"></use>
									</svg>
									<span>IVF, ICSI, IUI</span>
								</li>
								<li class="custom-list__item">
									<svg class="icon icon-checkmark">
										<use xlink:href="symbol/sprite.svg#icon-checkmark"></use>
									</svg>
									<span>Adoption advise</span>
								</li>
								<li class="custom-list__item">
									<svg class="icon icon-checkmark">
										<use xlink:href="symbol/sprite.svg#icon-checkmark"></use>
									</svg>
									<span>ADHD, autism </span>
								</li>
							</ul>
						</div>
						<div class="profile-tabs__content-tab">
							<div class="profile-tabs__typography typography">
								<p>Sophie is Registered Nutritionist (RNutr) with a BSc Psychology degree, an MSc in Clinical Nutrition, founder of Sophie’s Healthy Kitchen, co-host of the Forking Wellness podcast and co-author of recently released nutrition book ‘Forking Wellness’. </p>

								<p>	Her non diet approach to nutrition sees her work with individuals to develop a healthy relationship with food as well as specialising in pre and post natal nutrition.</p>

								<p>Sophie has worked with leading brands in the food industry and also works with clients in a 1-1 setting at the Rhitrition clinic on Harley St.</p>
							</div>
						</div>
						<div class="profile-tabs__content-tab">
							<div class="profile-tabs__typography typography">
								<h3>Courses</h3>
								<p>Tortor mauris, cursus dignissim egestas diam sit egestas lacinia duis. Nisl leo vel ultrices magnis. Libero morbi sed vel congue odio cursus. Auctor lectus tristique scelerisque arcu.</p>
								<h3>Courses 2</h3>
								<p>Tortor mauris, cursus dignissim egestas diam sit egestas lacinia duis. Nisl leo vel ultrices magnis. Libero morbi sed vel congue odio cursus. Auctor lectus tristique scelerisque arcu.</p>
								<h3>Courses 3</h3>
								<p>Tortor mauris, cursus dignissim egestas diam sit egestas lacinia duis. Nisl leo vel ultrices magnis. Libero morbi sed vel congue odio cursus. Auctor lectus tristique scelerisque arcu.</p>
								<h3>Courses 4</h3>
								<p>Tortor mauris, cursus dignissim egestas diam sit egestas lacinia duis. Nisl leo vel ultrices magnis. Libero morbi sed vel congue odio cursus. Auctor lectus tristique scelerisque arcu.</p>
							</div>
						</div>
						<div class="profile-tabs__content-tab">
							<div class="profile-location">
								<header class="profile-location__header">
									<h3 class="profile-location__title">Fetal Medicine Centre</h3>
								</header>
								<div class="profile-location__body">
									<div class="profile-location__contact-list">
										<div class="profile-location__item profile-location__item--address">
											<div class="profile-location__item-title">
												<svg class="icon icon-marker">
													<use xlink:href="symbol/sprite.svg#icon-map-marker"></use>
												</svg>
												<span>137 Harley St, London W1G 6BG, Great Britain</span>
											</div>
										</div>
										<div class="profile-location__item profile-location__item--phone">
											<div class="profile-location__item-title">
												<svg class="icon icon-phone">
													<use xlink:href="symbol/sprite.svg#icon-phone"></use>
												</svg>
												<span>+44 20 7486 0476</span>
											</div>
										</div>
										<div class="profile-location__item profile-location__item--shedule">
											<div class="profile-location__item-title">
												<svg class="icon icon-clock">
													<use xlink:href="symbol/sprite.svg#icon-clock"></use>
												</svg>
												<span>Schedule</span>
											</div>
											<div class="profile-location__item-body profile-location__item-body--worktime">
												<span class="_worktime-item">Weekdays — 9am-6pm</span>
												<span class="_worktime-item">Saturday Sunday — day off</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="profile-tabs__content-tab">
							<div class="profile-products">
								<div class="profile-products__grid">
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-1.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-2.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-3.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-1.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-2.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-3.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-1.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-2.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
									<div class="profile-products__col">
										<a href="#" class="product-small">
											<div class="product-small__media">
												<img src="images/demo/toy-3.jpg" alt="" class="product-small__image">
											</div>
											<div class="product-small__main">
												<h3 class="product-small__title">Product for kids and parent</h3>
												<div class="product-small__bottom">
													<div class="product-small__meta">
														<div class="product-small__meta-item">
															<svg class="icon icon-comment">
																<use xlink:href="symbol/sprite.svg#icon-comment"></use>
															</svg>
															<span>25</span>
														</div>
														<div class="product-small__meta-item">
															<svg class="icon icon-heart-small">
																<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
															</svg>
															<span>20</span>
														</div>
													</div>
													<div class="product-small__price">
														<span class="product-small__price-title">Total Price:</span>
														<span class="product-small__price-value">£15</span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section section--content-cards">
		<div class="container">
			<header class="section__header">
				<h2 class="section__title">Sophie’s content</h2>
				<a href="#" class="section__header-button button-secondary button-secondary--white">See all</a>
			</header>

			<div class="section__body">
				<div class="cards">
					<div class="cards__grid">
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-1.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-1.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax">Free</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-3.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-3.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax">Free</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-2.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-2.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax">Free</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-1.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-1.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax">Free</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-3.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-3.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax">Free</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-2.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-2.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax">Free</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>

			<footer class="section__footer section__footer--center">
				<a href="#" class="section__footer-button button-secondary button-secondary--white">See all</a>
			</footer>

		</div>
	</section>

	<section class="section section--content-cards">
		<div class="container">
			<header class="section__header">
				<h2 class="section__title">Sophie's premium content</h2>
				<a href="#" class="section__header-button button-secondary button-secondary--white">See all</a>
			</header>

			<div class="section__body">
				<div class="cards">
					<div class="cards__grid">
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-1.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-1.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax card__tax--pink">£22</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-3.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-3.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax card__tax--pink">$200</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-2.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-2.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax card__tax--pink">£22</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-1.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-1.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax card__tax--pink">£22</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-3.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-3.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax card__tax--pink">£22</div>
								</div>
							</article>
						</div>
						<div class="cards__col">
							<article class="card">
								<figure class="card__media">
									<a href="#" class="card__image-link">
										<img src="images/demo/card-2.jpg" alt="" class="card__image">
									</a>
									<a href="#" class="card__categorie">Parenting</a>
								</figure>
								<div class="card__body">
									<h3 class="card__title">
										<a href="#" class="card__title-link">
											We give expert advice and support to parents and parents-to-be who need help starting lorem ipsum
										</a>
									</h3>
									<div class="card__text">
										We give you the experts, tools and community to help navigate your parenthood journey across all stages including trying to conceive Lorem ipsum dolor sit amet.
									</div>
								</div>
								<div class="card__footer">
									<div class="card__info">
										<div class="card__avatar">
											<img class="card__avatar-image" src="images/demo/user-2.jpg" alt="">
										</div>
										<div class="card__meta">
											<a href="#" class="card__user-name">Jane Foster</a>
											<div class="card__meta-group">
												<div class="card__meta-item">
													<svg class="icon icon-clock">
														<use xlink:href="symbol/sprite.svg#icon-clock"></use>
													</svg>
													<span>14.11.2019</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-comment">
														<use xlink:href="symbol/sprite.svg#icon-comment"></use>
													</svg>
													<span>25</span>
												</div>
												<div class="card__meta-item">
													<svg class="icon icon-heart-small">
														<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
													</svg>
													<span>20</span>
												</div>
											</div>
										</div>
									</div>
									<div class="card__tax card__tax--pink">£22</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>

			<footer class="section__footer section__footer--center">
				<a href="#" class="section__footer-button button-secondary button-secondary--white">See all</a>
			</footer>

		</div>
	</section>

	<section class="section profile-review">
		<div class="container">
			<header class="section__header">
				<h2 class="section__title">See all reviews </h2>

				<div class="slider-control review-slider__control">
					<button class="button-nav button-nav--prev">
						<svg class="icon">
							<use xlink:href="symbol/sprite.svg#icon-arrow"></use>
						</svg>
					</button>

					<div class="slider-control__counter">
					</div>

					<button class="button-nav button-nav--next">
						<svg class="icon">
							<use xlink:href="symbol/sprite.svg#icon-arrow"></use>
						</svg>
					</button>
				</div>
			</header>

			<div class="section__body">
				<div class="profile-review__slider swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__inner">
									<div class="review-card__header">
										<div class="review-card__media">
											<img src="images/demo/demo-2.jpg" alt="">
										</div>
										<div class="review-card__info">
											<div class="review-card__name">Jane Foster</div>
											<div class="review-card__date">2 days ago</div>
										</div>
									</div>
									<div class="review-card__body">
										<div class="review-card__message">
											Nisl in adipiscing facilisis varius sit et. Diam sed quam quis luctus mattis. Nunc, semper non ut proin risus gravida consequat maecenas elit. Dictum amet placerat diam commodo ipsum justo neque. Interdum maecenas ultrices ipsum aliquet sem diam.
										</div>
									</div>
									<div class="review-card__meta">
										<div class="review-card__rating">
											4.8
											<svg class="icon icon-star">
												<use xlink:href="symbol/sprite.svg#icon-star"></use>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__inner">
									<div class="review-card__header">
										<div class="review-card__media">
											<img src="images/demo/demo-2.jpg" alt="">
										</div>
										<div class="review-card__info">
											<div class="review-card__name">Jane Foster</div>
											<div class="review-card__date">2 days ago</div>
										</div>
									</div>
									<div class="review-card__body">
										<div class="review-card__message">
											Nisl in adipiscing facilisis varius sit et. Diam sed quam quis luctus mattis. Nunc, semper non ut proin risus gravida consequat maecenas elit. Dictum amet placerat diam commodo ipsum justo neque. Interdum maecenas ultrices ipsum aliquet sem diam.
										</div>
									</div>
									<div class="review-card__meta">
										<div class="review-card__rating">
											4.8
											<svg class="icon icon-star">
												<use xlink:href="symbol/sprite.svg#icon-star"></use>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__inner">
									<div class="review-card__header">
										<div class="review-card__media">
											<img src="images/demo/demo-2.jpg" alt="">
										</div>
										<div class="review-card__info">
											<div class="review-card__name">Jane Foster</div>
											<div class="review-card__date">2 days ago</div>
										</div>
									</div>
									<div class="review-card__body">
										<div class="review-card__message">
											Nisl in adipiscing facilisis varius sit et. Diam sed quam quis luctus mattis. Nunc, semper non ut proin risus gravida consequat maecenas elit. Dictum amet placerat diam commodo ipsum justo neque. Interdum maecenas ultrices ipsum aliquet sem diam.
										</div>
									</div>
									<div class="review-card__meta">
										<div class="review-card__rating">
											4.8
											<svg class="icon icon-star">
												<use xlink:href="symbol/sprite.svg#icon-star"></use>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__inner">
									<div class="review-card__header">
										<div class="review-card__media">
											<img src="images/demo/demo-2.jpg" alt="">
										</div>
										<div class="review-card__info">
											<div class="review-card__name">Jane Foster</div>
											<div class="review-card__date">2 days ago</div>
										</div>
									</div>
									<div class="review-card__body">
										<div class="review-card__message">
											Nisl in adipiscing facilisis varius sit et. Diam sed quam quis luctus mattis. Nunc, semper non ut proin risus gravida consequat maecenas elit. Dictum amet placerat diam commodo ipsum justo neque. Interdum maecenas ultrices ipsum aliquet sem diam.
										</div>
									</div>
									<div class="review-card__meta">
										<div class="review-card__rating">
											4.8
											<svg class="icon icon-star">
												<use xlink:href="symbol/sprite.svg#icon-star"></use>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__inner">
									<div class="review-card__header">
										<div class="review-card__media">
											<img src="images/demo/demo-2.jpg" alt="">
										</div>
										<div class="review-card__info">
											<div class="review-card__name">Jane Foster</div>
											<div class="review-card__date">2 days ago</div>
										</div>
									</div>
									<div class="review-card__body">
										<div class="review-card__message">
											Nisl in adipiscing facilisis varius sit et. Diam sed quam quis luctus mattis. Nunc, semper non ut proin risus gravida consequat maecenas elit. Dictum amet placerat diam commodo ipsum justo neque. Interdum maecenas ultrices ipsum aliquet sem diam.
										</div>
									</div>
									<div class="review-card__meta">
										<div class="review-card__rating">
											4.8
											<svg class="icon icon-star">
												<use xlink:href="symbol/sprite.svg#icon-star"></use>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="review-form">
				<form class="review-form__inner">
					<h2 class="review-form__title">Leave a review</h2>
					
					<div class="review-form__row">
						<div class="review-form__label">Rate this expert</div>
						<div class="review-form__rating rating">
							<div class="rating__stars">
								<a href="#" class="rating__star star-5">
									<svg class="icon">
										<use xlink:href="symbol/sprite.svg#icon-star"></use>
									</svg>
								</a>
								<a href="#" class="rating__star star-4">
									<svg class="icon">
										<use xlink:href="symbol/sprite.svg#icon-star"></use>
									</svg>
								</a>
								<a href="#" class="rating__star star-3">
									<svg class="icon">
										<use xlink:href="symbol/sprite.svg#icon-star"></use>
									</svg>
								</a>
								<a href="#" class="rating__star star-2">
									<svg class="icon">
										<use xlink:href="symbol/sprite.svg#icon-star"></use>
									</svg>
								</a>
								<a href="#" class="rating__star star-1">
									<svg class="icon">
										<use xlink:href="symbol/sprite.svg#icon-star"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
					<div class="review-form__row">
						<div class="review-form__label">Comment</div>
						<textarea class="review-form__text" placeholder="Text"></textarea>
					</div>
					<div class="review-form__row">
						<button class="review-form__submit button-secondary button-secondary--blue">Post a comment</button>
					</div>
				</form>
			</div>
		</div>
	</section>

@@include('partials/footer.html')