@@include('partials/header.html')

	<div class="page-header">
		<div class="container">
			<div class="page-header__breadcrumbs">
				@@include('components/breadcrumb.html')
			</div>
			<h1 class="page-header__title">
				Experts
			</h1>
			<div class="page-header__search">
				@@include('components/site-search.html')
			</div>
			<div class="page-header__categorie-tabs">
				@@include('components/categorie-tabs.html')
			</div>
		</div>
	</div>

	<main class="main page-main">
		<div class="container">

			<div class="cards-content">
				<div class="cards-content__sort">
					<div class="sort-by">
						<select class="sort-by__select js-choice">
							<option value="">Sort by</option>
							<option value="All">Name, A-Z</option>
							<option value="All">Recommended</option>
							<option value="All">Most popular</option>
						</select>
					</div>
				</div>

				<div class="cards-content__body">
					<div class="cards">
						<div class="cards__grid">
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-3.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-1.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-2.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-3.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-1.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-2.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-3.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-1.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-2.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-3.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-1.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cards__col cards__col--persone">
								<div class="card-person">
									<figure class="card-person__media">
										<a href="#" class="card-person__image-link">
											<img src="images/demo/user-2.jpg" alt="" class="card-person__image">
										</a>
									</figure>
									<div class="card-person__body">
										<h3 class="card-person__title">
											<a href="#" class="card-person__title-link">
												Jane Foster
											</a>
										</h3>
										<div class="card-person__categories">
											<span>Psychologist,</span>
											<span>Psychotherapist</span>
										</div>
										<div class="card-person__tags">
											<span>GBC,</span>
											<span>BPS,</span>
											<span>GCoP</span>
										</div>
									</div>
									<div class="card-person__footer">
										<div class="card-person__meta">
											<div class="card-person__meta-item">
												<span>4.8</span>
												<svg class="icon icon-star">
													<use xlink:href="symbol/sprite.svg#icon-star"></use>
												</svg>
											</div>
											<div class="card-person__meta-item">
												<span>20</span>
												<svg class="icon icon-heart-small">
													<use xlink:href="symbol/sprite.svg#icon-heart-small"></use>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>   

			@@include('components/pagination.html')
		</div>
	</main>

@@include('partials/footer.html')