/*============================================================================
	#Page Categories
==============================================================================*/
.page-categories {

	margin-top: 70px;
	padding-bottom: 0;

	&--selected {

		margin-top: 40px;
	}

	@include _768 {

		margin-top: 50px;
	}
}