/*============================================================================
	#Page
==============================================================================*/

.page {

	&__main {

		flex: 0 0 100%;
	}

	.post-content__typography {

		margin-bottom: 0;
	}

	.post-content__inner {

		border-bottom: none;
	}
}