/*============================================================================
	#Post Page
==============================================================================*/
.post {

	&__article {

		margin-bottom: 60px;
	}
}

.post-article {

	// padding-bottom: 60px;
}

.post-head {

	&__nav {

		margin-bottom: 24px;
	}

	&__title {

		margin-bottom: 24px;
	}

	&__author {

		margin-bottom: 43px;
	}

	&__meta {
		
		margin-bottom: 16px;
	}

	&__media {

		margin: 16px 0;
	}

	&__image {

		border-radius: 16px;
		overflow: hidden;
		margin: 0;
		height: 405px;
		
		img {

			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.post-nav {

	padding: 22px 0;

	&__inner {

		display: flex;
		justify-content: space-between;
	}

	&__prev-post {

		display: flex;
		align-items: center;
		text-decoration: none;
		color: $colorSecondary;
		@include Text18_Desktop;

		.button-nav {

			margin-right: 16px;
			transition-duration: .4s;
		}

		&:hover {

			.button-nav {

				box-shadow: 0 0 20px 10px rgba(38, 64, 102, .3);
			}
		}
	}

	&__control {

		display: flex;
	}
	
	&__share {

		margin-right: 16px
	}
}

.post-title {

	@include H2_Desktop;
	color: $colorSecondary;
}

.post-author {

	&__inner {

		display: flex;
	}

	&__media {

		margin: 0;
		padding: 0;
		width: 48px;
		height: 48px;
		overflow: hidden;
		border-radius: 100%;
		margin-right: 12px;

		img {

			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {

		position: relative;
		display: inline-block;
		text-decoration: none;
		color: $colorSecondary;
		font-size: 18px;
		font-weight: $medium;
		transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

		&::before {

			content: '';
			position: absolute;
			bottom: 1px;
			height: 1px;
			width: 0;
			background: black;
			opacity: .8;
			transition: all .8s cubic-bezier(0.165, 0.84, 0.44, 1);

		}

		&:hover {

			// color: $colorPrimary;

			&::before {

				width: 100%;
			}

		}
	}

	&__categories {

		display: flex;
		color: $color8D9AAE;
		
		span { margin-right: 2px; }
	}
}

.post-meta {

	&__items {

		display: flex;
	}

	&__item {

		display: flex;
		align-items: center;
		line-height: 1;
		font-size: 16px;
		color: $color8D9AAE;
		margin-right: 24px;

		&:last-child {

			margin-right: 0;
		}

		.icon {

			width: 16px;
			height: 16px;
			fill: $color8D9AAE;
			margin-right: 8px;
		}
	}
}

.post-content {

	.container {

		position: relative;
	}

	&__inner {

		display: flex;
		flex-wrap: wrap;
		padding-bottom: 60px;
		border-bottom: 1px solid $colorC1C1C3;
	}

	&__main {

		flex: 0 0 76%;
		padding-right: 28px;
	}

	&__aside {

		flex: 0 0 24%;
		padding-left: 28px;
	}

	&__categories {

		margin-bottom: 28px;
	}

	&__typography {

		margin-bottom: 40px;
	}

	&__main-footer {

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__control {

		display: flex;
	}

	&__deco {

		position: absolute;
		top: 600px;
		right: -180px;	
		width: 760px;
		height: 760px;
		border: 72px solid $colorSecondary;
		opacity: .05;
		border-radius: 100%;
		z-index: -1;
	}
}

.post-aside {

	&__inner {

		position: sticky;
		top: 32px;
	}
}

.post-categories {

	display: flex;
	flex-wrap: wrap;
	
	&__item {

		text-decoration: none;
		min-width: 128px;
		background: $colorF4F5F7;
		text-align: center;
		border-radius: 8px;
		padding: 11px 10px 9px;
		margin-right: 12px;
		margin-bottom: 12px;
		color: $colorSecondary;
		font-size: 14px;
		font-weight: $medium;
		transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

		&:hover {

			background: $colorC1C1C3;
		}

		&:last-child{

			margin-right: 0px;
		}
	}
}

.author-card {

	padding-left: 20px;
	position: relative;
	
	&.fixed {

		position: fixed;
		top: 40px;
		
	}

	&::before {

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 85%;
		background-color: $colorC1C1C3;
	}

	&__inner {

		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__avatar {

		margin: 0;
		width: 100px;
		height: 100px;
		border-radius: 100%;
		overflow: hidden;
		margin-bottom: 24px;

		img {

			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {

		margin-bottom: 24px;
	}

	&__name {

		@include H4_Desktop;
		color: $colorSecondary;
		text-decoration: none;
		margin-bottom: 4px;
		display: inline-block;
		transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

		&:hover {

			color: $colorPrimary;
		}
	}

	&__categories {

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		color: black;
		opacity: .7;
		margin-bottom: 8px;

		span {

			margin-right: 4px;
			@include Text18_Desktop;

			&:last-child {
				margin-right: none;
			}
		}
	}

	&__meta {

		display: flex;
		justify-content: center;
	}

	&__meta-item {

		display: flex;
		align-items: center;
		margin-right: 16px;

		&:last-child {

			// margin-right: 0;
		}

		.icon {

			width: 17px;
			height: 17px;
			fill: $colorSecondary;
		}

		.icon-heart {

			width: 16px;
			height: 16px;
		}

		.icon-star {

			margin-top: -2px;
		}

		span {
			font-size: 16px;
			color: $colorSecondary;
			// line-height: 1;
			margin-right: 4px;
		}
	}

	&__control {

		button {

			margin-bottom: 16px;
			width: 100%;
			min-width: inherit;

			&:last-child {

				margin-bottom: 0;
			}
		}
	}
}

@include _1024 {

	.post-head {

		&__nav {

			margin-bottom: 16px;
		}

		&__image {

			height: 365px;
		}
	}

	.post-nav {

		padding: 16px 0;
	}

	.post-title {

		font-size: 38px;
		line-height: 1.4;
	}

	.post-content {

		&__main {

			flex: 0 0 100%;
			padding-right: 0;
		}

		&__aside {

			margin-top: 40px;
			padding-top: 40px;
			flex: 0 0 100%;
			max-width: 100%;
			padding-left: 0;
			border-top: 1px solid $colorC1C1C3;
		}

		&__deco {

			display: none;
		}

		&__main-footer {
			
			justify-content: flex-start;

			.post-author {

				display: none;
			}
		}
		
	}

	.author-card {

		padding-left: 0;
		&::before {

			display: none;
		}
	}
	
}

@include _768 {

	.post-title {

		font-size: 34px;
	}

	.post-head {

		&__image {
			height: 315px;
		}
	}

	.post-categories {

		&__item {

			min-width: 106px;
			padding: 9px 8px 8px;
			font-size: 12px;
			margin-right: 8px;
			margin-bottom: 8px;
		}
	} 
}

@include _485 {

	.post-title {

		font-size: 30px;
	}

	.post-head {

		&__image {
			height: 285px;
		}
	}
} 

@include _395 {

	.post-title {

		font-size: 28px;
	}

	.post-head {

		&__image {
			height: 225px;
		}
	}
}