/*============================================================================
	#Profile Page
==============================================================================*/
.user-profile {

	padding-bottom: 40px;
	position: relative;

	&__header {

		height: 280px;
		// overflow: hidden;
		position: relative;
		z-index: 1;
	}

	&__bg-image {

		position: absolute;
		top: 0;
		left: 0;
		height: 280px;
		width: 100%;
		z-index: 0;
		background-size: cover;
		// background-attachment: fixed;

		img {

			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__breadcrumbs {
		position: relative;
		z-index: 2;

		.container {

			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__body {
		position: relative;
		z-index: 1;
		margin-top: 160px;
		margin-bottom: 60px;
	}

	&__tabs {

		margin-bottom: 20px;
	}
}

.profile-data {

	&__inner {

		display: flex;
	}

	&__media {

		width: 360px;
		height: 360px;
		border-radius: 16px;
		overflow: hidden;
		flex: 0 0 auto;
		margin-right: 60px;

		&:hover {

			img {

				transform: scale(1.1);
			}
		}
	}

	&__media img {

		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__body {

		margin-top: 47px;
		flex-grow: 1;
		padding-top: 14px;
		display: flex;
		flex-direction: column;
	}

	&__head {

		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		position: relative;
	}

	&__rating {

		.icon-star {

			fill: $colorPrimary;
		}

		.icon-star._clear {

			stroke: $colorPrimary;
		}
	}

	&__head-control {

		position: absolute;
		right: 0;
		display: flex;
		bottom: -50px;
	}

	&__share {

		margin-right: 16px;
	}
	

	&__bio {

		padding-right: 260px
	}

	&__title {

		@include H1_Desktop;
		color: $colorSecondary;
		margin-bottom: 8px;
	}

	&__meta {

		display: flex;
		flex-wrap: wrap;
		margin-bottom: 16px;
	}

	&__meta-item {

		display: flex;
		align-items: center;
		color: $color8D9AAE;
		@include Text18_Desktop;
		position: relative;
		margin-bottom: 8px;

		&:not(:last-child){

			margin-right: 16px;
		}

		&--categories {

			.icon {

				margin-right: 12px;
				align-self: flex-start;
			}
		}

		&--tags {

			padding-left: 24px;
			position: relative;

			&::after {

				content: '';
				position: absolute;
				height: 8px;
				width: 8px;
				background: $colorSecondary;
				top: 8px;
				left: 0;
				border-radius: 100%;
			} 
		}
	}

	&__controls {

		margin-top: auto;
		padding: 16px 0;
		display: flex;
		
		> * {

			margin-right: 12px;
			
			&:last-child {

				margin-right: 0;
			}
		}
	}

	&__button-book {

		font-family: $fontPrimary;
		max-width: 245px;
		flex: 1 1 245px;
		width: 100%;
		color: white;
	}

	&__chat {

		max-width: 214px;
		flex: 1 2 214px;
		width: 100%;
	}
}

.profile-tabs {

	&__header {

		margin-bottom: 16px;
		padding-bottom: 10px;
	}

	&__tab-button {

		font-family: $fontHeadings;
		font-size: 24px;
		color: $color8D9AAE;
		position: relative;
		padding-bottom: 10px;
		transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

		&:not(:last-child) {

			margin-right: 28px;
		}

		&::before {

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: $color8D9AAE;
			opacity: 0;
			transform: translateY(-10px);
			transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		&:hover::before {

			opacity: 1;
			transform: translateY(0);
		}

		&.is-active {

			color: $colorSecondary;

			&::before {

				opacity: 1;
				transform: translateY(0);
				background: $colorSecondary;
			}
		}
	}

	&__body {

		background: white;
	}

	&__content-tab {

		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
		transform: translateY(20px);
		box-shadow: 0px 4px 27px -6px rgba(38, 64, 102, 0.19);
		border-radius: 16px;
		padding: 24px 24px;
		

		&.is-active {

			position: relative;
			visibility: visible;
			opacity: 1;
			transform: translateY(0px);
		}
	}

	&__typography,
	&__grid {

		@include Text18_Desktop;
		color: $colorSecondary;
		padding: 8px;
		max-width: 840px;

		h1, h2, h3, h4, h5, h6 {

			color: $colorSecondary;
			font-weight: normal;
			margin: 0 0 8px 0;
		}

		p {
			margin-top: 0;
			margin-bottom: 24px;
		}
	}

	&__grid {

		max-width: 100%;
		margin: 0 -8px;
		display: flex;
		flex-wrap: wrap;
	}

	&__col {

		flex: 0 0 calc(100% / 2 - 16px);
		margin: 0 8px;
	} 

}

.profile-location {

	&__header {

		margin-bottom: 16px;
	}

	&__title {

		@include H4_Desktop;
		color: $colorSecondary;
	}

	.icon {

		width: 18px;
		height: 18px;
		fill: $colorSecondary;
		position: absolute;
		top: 4px;
		left: 0;
	}

	.icon-marker,
	.icon-phone {

		width: 20px;
		height: 20px;
	}

	&__contact-list {


	}

	&__item {

		padding-left: 36px;
		position: relative;
		margin-bottom: 16px;

		&:last-child {

			// margin-bottom: 0;
		}
	}

	&__item-title {

		@include Text18_Desktop;
		color: $colorSecondary;
	}

	&__item-body  {

		margin-top: 8px;

		&--worktime {

			display: flex;
			flex-direction: column;
		}

		._worktime-item {

			margin-bottom: 4px;
			color: $color8D9AAE;

			&:last-child {

				margin-bottom: 0;
			}
		}
	} 
}

.profile-products {

	&__grid {

		display: flex;
		flex-wrap: wrap;
		margin: -8px;
	}

	&__col {
		
		flex: 0 0 calc(100% / 3 - 8px);
		margin: 4px;
	}
}

.report {

	&__items {
		
		margin: 0 -24px;
	}

	&__item {

		padding: 12px 24px;
		cursor: pointer;

		&:hover {

			background: $colorF4F5F7;
		}
	}
}

.share {

	&__items {


	}

	&__item {

		display: flex;
		align-items: center;
		@include Text18_Desktop;
		color: $colorSecondary;
		fill: $colorSecondary;
		transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
		cursor: pointer;
		padding: 16px 0;
		text-decoration: none;

		&:hover {

			color: $colorPrimary;
			fill: $colorPrimary;
		}

		.icon {

			width: 32px;
			height: 32px;
			fill: inherit;
			margin-right: 16px;
			transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		
		&:last-child {

			padding-bottom: 0;
		}
	}

	&.is-active {

		.button-share {

			background: $colorSecondary;
			color: white;

			.icon {

				fill: white;
			}
		}
	}
}

@include _1200 {

	.user-profile {

		&__bg-image {

			height: 240px;
		}
		
		&__body {

			margin-top: 120px;
		} 
		
	}

	.profile-data {

		&__media {

			width: 340px;
			height: 340px;
			margin-right: 40px;
		}

		&__bio {
			padding-right: 0;
		}

		&__head {

			padding: 4px 0;
		}

		&__head-control {

			position: static;
		}


		&__controls {

			flex-wrap: wrap;
		}

		&__title {

			font-size: 44px;
			line-height: 1.3;
		}

		&__button-book,
		&__chat {

			margin-bottom: 16px;
		}
	}

	.profile-products {

		&__col {
			flex: 0 0 calc(100% / 2 - 8px);
		} 
	}
}

@include _1024 {

	.user-profile {

		&__bg-image {

			height: 200px;
		}
		
		&__body {

			margin-top: 100px;
		} 
	}

	.profile-data {

		&__media {
			width: 280px;
			height: 280px;
			margin-right: 24px;
		}

		&__controls {

			padding: 0;
			margin-top: 24px;
		}

		// &__title {
		// 	font-size: 38px;
		// 	line-height: 1.4;
		// }
	}

	.profile-tabs {

		&__grid {

			margin: 0 0;

		}

		&__col {

			flex: 0 0 100%;
			margin: 0;
		}
	}
}

@include _892 {

	.profile-data {

		&__button-book,
		&__chat {

			flex: 0 0 calc(50% - 12px);
			max-width: calc(50% - 12px);
		}
	}
}

@include _768 {

	.user-profile {

		&__bg-image {

			height: 170px;
		}

		&__body {

			margin-top: 30px;
		}
	}

	.profile-data {

		max-width: 480px;
		margin: 0 auto;

		&__inner {

			flex-direction: column;
		}

		&__body {

			margin-top: 10px;
		}

		&__media {

			margin-right: 0;
			margin: 0 auto;
			width: 320px;
			height: 320px;
		}

		&__meta-item {

			flex: 0 0 100%;
		}

		&__meta-item--tags {

			padding-left: 0;
			&::after {

				display: none;
			}
		}
	}

	.profile-products {

		&__col {
			flex: 0 0 calc(100% / 1 - 8px);
		} 
	}

	.profile-tabs {

		&__header {

			display: flex;
			width: 100%;
			overflow: scroll;
		}

	}

	.profile-tabs {

		&__list {

			flex-wrap: wrap;
		}
	}

}

@include _575 {

	.profile-tabs {

		&__typography {

			font-size: 16px;
			font-weight: normal;
			padding: 0;
		}
	}

	.profile-location__item-title {

		font-size: 16px;
	}
}

@include _485 {

	.profile-data {

		&__media {

			width: 284px;
			height: 284px;
		}

		&__button-book,
		&__chat {

			flex: 0 1 320px;
			max-width: 320px;
			margin-right: 0;
		}
	}

	.user-profile {

		&__body {

			margin-top: 10px;
		}

		&__breadcrumbs {
			
			padding: 16px 0;

			.container {

				justify-content: flex-end;
			}

			.breadcrumb {

				display: none;
			}
		}
	}

	.profile-tabs {

		&__content-tab {

			padding: 16px;
		}
	}
}

@include _395 {

	.profile-data {

		&__title {

			margin-top: 8px;
			font-size: 36px;
			line-height: 1.4;
		}

		&__button-book,
		&__chat {

			padding-left: 20px;
			padding-right: 20px;
			// font-size: 16px;
		}
	}
}