
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<title>Bloss</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!--== Preload Fonts -->
	<link rel="preload" href="fonts/Gotham-Book.woff2" as="font" type="font/woff" crossorigin="">
	<link rel="preload" href="fonts/BalooBhaijaan-Regular.woff2" as="font" type="font/woff" crossorigin="">
	<link rel="preload" href="fonts/Roboto-Bold.woff2" as="font" type="font/woff" crossorigin="">

	<!--== favicon  -->
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#264066">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/index.css">
</head>

<body class="body" id="body">
	<div class="site">

		<header class="header site__header">
			<div class="container">
				<div class="header-main header__main">
					<div class="header-main__logo">
						<a href="/" class="site-logo">
							<img src="images/logo.svg" alt="Bloss Logo">
						</a>
					</div>
					<nav class="header-main__menu">
						<ul class="menu header-menu">
							<li class="current-menu-item"><a href="#">Experts</a></li>
							<li><a href="#">Chat</a></li>
							<li><a href="#">Shop</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">About Us</a></li>
						</ul>
					</nav>
					<div class="header-main__controls">
						<div class="header-main__search header-search">
							<button class="header-search__button button">
								<svg class="icon icon-search">
									<use xlink:href="symbol/sprite.svg#icon-search"></use>
								</svg>								
							</button>
							<form class="header-search__form">
								<div class="header-search__form-group">
									<svg class="icon icon-search">
										<use xlink:href="symbol/sprite.svg#icon-search"></use>
									</svg>								
									<input type="text" class="header-search__form-input" placeholder="Search">
								</div>
							</form>
						</div>

						<div class="header-main__controls-buttons">
							<a class="button-primary button-primary--dark header-main__button" href="#">Log in</a>
							<a class="button-primary header-main__button" href="#">Sign up for free</a>
						</div>

						<div class="header-main__header-dashboard header-dashboard"  style="display: none;">
							<div class="header-dashboard__user">
								<div class="header-dashboard__avatar">
									<img src="images/demo/demo-1.jpg" alt="">
									<!-- <img src="icons/icon-user-profile.svg" alt=""> -->
								</div>
								<span class="header-dashboard__msg-count">2</span>
							</div>
							<button class="button header-dashboard__logout">Log Out</button>
						</div>
					</div>
					<div class="header-main__social">
						@@include('../components/social.html', {

							class: 'social--dark'
						})
					</div>
				</div>
				<div class="header-bottom header__bottom">
					<nav class="header-bottom__nav">
						<ul class="menu menu-categoties">
							<li class="current-menu-item"><a href="#">Trying to Conceive</a></li>
							<li class="menu-item-has-children">
								<a href="#">Pregnancy</a>

								<ul class="sub-menu">
									<li><a href="#">Trying to Conceive</a></li>
									<li><a href="#">Pregnancy</a></li>
									<li><a href="#">Parenting</a></li>
									<li><a href="#">Life</a></li>
								</ul>
							</li>
							<li><a href="#">Parenting</a></li>
							<li><a href="#">Life</a></li>
							<li><a href="#">Nutrition</a></li>
							<li><a href="#">Wellbeing</a></li>
							<li><a href="#">Style</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="mobile-header">
			<div class="container">
				<div class="mobile-header__logo">
					<a href="/" class="site-logo site-logo--mobile">
						<img src="images/logo.svg" alt="Bloss Logo">
					</a>
				</div>
				<div class="mobile-header__hambuger hamburger hamburger--collapse">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</div>
		</div>

		

		

