/*============================================================================
	#Menu
==============================================================================*/

ul.menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;

	li {
	
		position: relative;

	}

	a {

		font-size: 16px;
		line-height: 1.4;
		text-decoration: none;
		font-weight: $medium;
		color: inherit;
		transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
		display: block;
		padding: 10px 0;

		@media (min-width: 1024px){

			&:hover {

				color: $colorPrimary;
			}
		}
		
	}
	

	> li {

		margin: 0 16px;
		
	}

	> li.current-menu-item a {

		color: $colorPrimary;
	} 

	> li > a {}

}

ul.menu li > .sub-menu {

	position: absolute;
	left: -24px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: white;
	padding: 10px 24px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	min-width: 200px;
	transform: translateX(24px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	li {
		padding: 6px 0;
	}

	a {
		display: inline-block;
		padding: 0;
		font-size: 15px;
		position: relative;

		&::after {

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			background: $colorGeneral;
			width: 0;
			transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}
}

@media (min-width: 1024px){

	ul.menu > li:hover > a {

		color: $colorPrimary;
	}

	ul.menu li:hover > .sub-menu {

		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}
}


ul.menu li > .sub-menu li a:hover {

	color: $colorGeneral;

	&::after {

		width: 100%;
	} 
}

ul.menu-categoties {

	> li {

		margin: 0 20px;
	}

	> li > a {

		position: relative;
		overflow: hidden;
		padding: 10px 0 13px;
		font-weight: $bold;
		color: $colorSecondary;

		&::after {

			content: '';
			position: absolute;
			left: 0;
			bottom: 0;

			height: 2px;
			width: 100%;
			
			background: $colorPrimary;
			transform: translateY(-4px);
			opacity: 0;
			transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}

	> li.current-menu-item > a:hover::after {

		opacity: 0;
		transform: translateY(-4px);
	}
}

@media (min-width: 1024px) {

	.menu-categoties > li:hover > a::after {
	
		transform: translateY(0);
		opacity: 1;
	} 
}

@include _1024 {

	ul.menu li > .sub-menu {

		position: static;
		visibility: visible;
		opacity: 1;
		transform: none;
		background: none;
		box-shadow: none;
		transition: none;
		display: none;
	}

	ul.menu-categoties {

		flex-direction: column;
		text-align: center;

		> li > a {

			font-weight: $medium;
			font-size: 18px;
			padding: 8px 30px;
			display: inline-block;
		}

		li.menu-item-has-children > a {

			position: relative;

			&::after,
			&::before {

				content: '';
				position: absolute;
				right: 0;
				left: auto;
				bottom: auto;
				top: 50%;
				height: 2px;
				width: 10px;
				opacity: 1;
				background: $colorSecondary;
				transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
			}

			&::after {

				transform: rotate(90deg);
			}
		}
	}

	ul.menu-categoties li.menu-item-has-children.is-collapsed > a {

		&::after {

			transform: rotate(0);
		}

	}

	ul.header-menu {

		> li {

			margin: 0 8px;
			color: $colorBody;
		}

		> li:hover > a {

			color: $colorGeneral;
			opacity: 1;
		}

		a {

			padding: 4px 0;
			opacity: 0.5;
		}

		> li.current-menu-item a {

			opacity: 1;
			color: $colorGeneral;
		}
	}
}

@include _485 {

	ul.header-menu {

		flex-wrap: wrap;
		justify-content: center;
	}
}



// .header-menu {

// 	display: flex;
// 	margin: 0;
// 	padding: 0;
// 	list-style-type: none;

// 	li {

// 		margin: 0 16px;

// 		&.current-menu-item a {

// 			color: $colorPrimary;
// 		}
// 	}

// 	a {

// 		text-decoration: none;
// 		font-weight: $medium;
// 		color: inherit;
// 		transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
		
// 		&:hover {

// 			color: $colorPrimary;	
// 		}
// 	}
// }

// .categories-menu {

// 	&__link {

// 		margin: 0 20px;
// 		text-decoration: none;
// 		font-weight: $bold;
// 		color: $colorSecondary;
// 		transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
		
// 		&:hover {

// 			color: $colorPrimary;	
// 		}
// 	}
// }

/* Landing Menu */
// ul.ld-menu {

// 	display: flex;
// 	margin: 0;
// 	padding: 0;
// 	list-style-type: none;

// 	> li {

// 		margin: 0 12px;
// 	}

// 	> li > a {

// 		text-decoration: none;
// 		font-weight: $medium;
// 		color: $colorMenu;
		
// 	}

// 	a {

// 		transition: color 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
// 	}

// 	a:hover {

// 		color: $colorPrimary;
// 	}
// } 