/*============================================================================
	#Pagination
==============================================================================*/
.pagination {

	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;

	&__list {

		display: flex;
		justify-content: center;
	}

	&__item {

		&._current {

		}

		&._separator {


		}

		&:not(._current):hover {


		}

		&._next,
		&._prev {
			
			
		}

		&._prev {


		}
	}
}