/*============================================================================
	#Site Review
==============================================================================*/

.site-review {

	padding-top: 5px;

	.section__title {

		font-size: 42px;
	}

	.section__body {

		margin: -20px -25px;
		padding-bottom: 80px;
	}

	&__slider {

		// overflow: visible;
		padding: 25px;
	}
}

.review-card {

	overflow: hidden;
	// max-width: 660px;
	border-radius: 16px;
	background: white;
	box-shadow: 0px 4px 27px -6px rgba(38, 64, 102, 0.19);

	&__inner {

		padding: 40px;
		display: flex;
		flex-direction: column;
	}

	&__header {

		display: flex;
		margin-bottom: 24px;
	}

	&__media {

		flex: 0 0 auto;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		overflow: hidden;
		margin-right: 16px;

		img {

			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__info {

		flex: 1 1 auto;
	}

	&__name {

		@include Text18_Desktop;
		color: black;
		margin-bottom: 8px;
	}

	&__date {

		font-size: 12px;
		color: $color8D9AAE;
	}
	
	&__body {

		margin-bottom: 24px;
	} 

	&__rating {

		color: $colorSecondary;
		fill: $colorSecondary;
		display: flex;
		align-items: center;

		.icon {

			width: 17px;
			height: 17px;
			margin-left: 4px;
			margin-bottom: 2px;
		}
	}

}

.review-form {

	background: $colorF4F5F7;
	border-radius: 16px;
	overflow: hidden;
	padding-bottom: 20px;

	&__inner {

		padding: 40px 60px;
	}

	&__title {

		font-size: 42px;
		font-weight: normal;
		line-height: 1.5;
		color: $colorSecondary;
		margin-bottom: 20px;
	}

	&__row {

		margin-bottom: 24px;
	}

	&__label {

		color: $colorSecondary;
		opacity: .5;
		margin-bottom: 10px;
	}

	&__text {

		border-radius: 16px;
		border: 1px solid $colorSecondary;
		padding: 12px 22px;
		min-height: 88px;
		resize: vertical;
		background: transparent;
		width: 100%;

		&::placeholder {

			color: $colorSecondary;
			opacity: .5;
			transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&:focus::placeholder {

			opacity: 0;
		} 
	}

	&__submit {

		width: 100%;
		max-width: 400px;
		min-width: auto;
	}
}

.rating {

	&__stars {

		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;

	}

	a {

		padding: 0 7px;

		&:last-child {

			padding-left: 0;
		}
	}

	a:hover {

		.icon {

			fill: $colorSecondary;
		}
	}

	a:hover ~ a {

		.icon {

			fill: $colorSecondary;
		}
	}

	a.is-active ~ a,
	a.is-active {

		.icon {

			fill: $colorSecondary
		}
	}	


	.icon {

		width: 28px;
		height: 28px;
		fill: transparent;
		stroke: $colorSecondary;
		stroke-width: 1;

	}
}

@include _1400 {

	.review-form {

		margin: 0 -16px;
	}
}

@include _768 {

	.site-review {

		.section__header {

			position: relative;
		}

		.slider-control {

			position: absolute;
			right: 30px;
			bottom: -110px;
			z-index: 20;
		}

		.slider-control__counter {

			width: 70px;
		}
	}

	.review-card {

		&__inner {

			padding: 30px;
		}

		&__header {

			padding-right: 200px;
		}
	}

	.review-form {

		padding-bottom: 0;

		&__inner {
			padding: 40px 40px;
		}
	}
}

@include _575 {

	.site-review {

		.section__header {

			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.slider-control {

			position: static;
			margin-top: 20px;
		}

		.slider-control__counter {

			width: 100px;
		}
	}

	.review-card {

		&__header {

			padding-right: 0;
		}
	}

	.review-form {


		&__inner {
			padding: 40px 20px;
		}
	}
}

@include _485 {

	.review-form {

		&__submit {

			max-width: 100%;
		}

		&__text {

			min-height: 168px;
		}
	}
}

@media (max-width: 374px) {

	.review-form {

		&__title {

			font-size: 38px;
			margin-bottom: 10px;
		}

		margin: 0 -8px;
	}
}
