/*============================================================================
	#Promo SingUp
==============================================================================*/
.promo-singup {

	background: $colorSecondary;
	border-radius: 16px;
	position: relative;
	overflow: hidden;

	&__inner {

		padding: 80px 126px 68px;
		display: flex;
		justify-content: space-between;
	}

	&__content {

		color: white;
		flex: 0 0 480px;
		max-width: 480px;
	}

	&__title {

		@include H1_Desktop;
		color: white;
		margin-bottom: 18px;
	}

	&__description {

		@include Text18_Desktop;
		color: white;
		max-width: 345px;
	}

	&__form {

		flex: 0 0 400px;
		margin: 0 auto;
	}

	&__success {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $colorSecondary;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		visibility: hidden;
	}

	&__success-icon {

		width: 95px;
		height: 95px;
		margin-bottom: 32px;

		.icon-checkmark {

			width: 100%;
			height: 100%;
		}
	}

	&__success-msg {

		color: white;
		@include H1_Desktop;
		max-width: 670px;
		text-align: center;
	}
}