/*============================================================================
	#Reviews Slider
==============================================================================*/

.reviews-slider {

	position: relative;

	&__control {
		
		display: flex;
		align-items: center;
		position: absolute;
		left: 420px;
		bottom: 92px;
		z-index: 1;

		.button-nav {

			flex: 0 0 auto;
		}
	}

	&__counter {

		margin: 0 17px;
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;

		._current {
			color: white;
			font-size: 24px;
			margin-right: 4px;
		}

		._total {

			font-size: 12px;
			color: $color8D9AAE;
		}
	}
	
}

.reviews-slider {

	.swiper-container {

		overflow: inherit;
	}

	.swiper-slide {

		opacity: 0 !important;

		.rewies-slide__media {

			transform: translateX(-100px);
			transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		.rewies-slide__body {

			transform: translateX(100px);
			transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}

	.swiper-slide-active {

		opacity: 1 !important;

		.rewies-slide__media {

			transform: translateX(0px);
		}

		.rewies-slide__body {

			transform: translateX(0px);
		}
	}
}


.rewies-slide {

	box-sizing: border-box;

	&__inner {

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__media {

		width: 420px;
		height: 433px;
		overflow: hidden;
		margin: 0;
		border-radius: 16px;
		flex: 0 0 auto;
	}

	&__image {

		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__body {

		padding: 40px 120px 40px 60px;
		height: 323px;
		background: $colorSecondary;
		border-radius: 8px;
		color: white;
		margin-left: -60px;
		flex: 1 1 auto;
	}

	&__name {

		@include H4_Desktop;
		margin-bottom: 16px;
	}

	&__message {

		@include Text18_Desktop;
		height: 100px;
		-webkit-box-orient: vertical;
		display: block;
		display: -webkit-box;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 4;

		p {

			margin: 0;
		}
	}

}

@include _1200 {

	.reviews-slider {

		&__control {

			left: 400px;
			bottom: 80px;
		}
	}	

	.rewies-slide {

		&__body {
			padding: 40px 60px 40px 60px;
		}

		&__message {

			height: 125px;
			-webkit-line-clamp: 5;
		}

		&__media {

			width: 400px;
			height: 400px;
		}

	}
}

@include _1024 {

	.reviews-slider__control {
		left: 370px;
		bottom: 60px;
	}

	.rewies-slide {

		&__media {
			width: 380px;
			height: 380px;
		}

		&__body {

			padding: 40px 50px 40px 50px;
		}
	}
}

@include _892{

	.rewies-slide {

		&__inner {

			flex-direction: column;
		}

		&__media {

			z-index: 1;
		}

		&__body {

			margin-left: 0;
			margin-top: -60px;
			padding: 80px 60px 100px 60px;
			height: auto;
		}
	}

	.reviews-slider__control {
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
	}
}

@include _768 {

	.rewies-slide {

		&__media {
			width: 360px;
			height: 360px;
		}

		&__message {

			height: auto;
			-webkit-line-clamp: inherit;
		}
	}
}

@include _485 {

	.rewies-slide {

		&__body {

			padding: 80px 30px 100px 30px;
		}

		&__message {

			font-size: 16px;
		}

		&__media {
			width: 340px;
			height: 340px;
		}
	}
}

@include _395 {

	.reviews-slider {

		margin: 0 -16px;
	}

	.rewies-slide__media {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 350px) {

	.rewies-slide__media {
		width: 290px;
		height: 290px;
	}
}