/*============================================================================
	#Search
==============================================================================*/

.site-search {

	max-width: 937px;
	width: 100%;

	&__form {

		display: flex;
		position: relative;
	}

	&__input {
		
		padding: 18px 90px 18px 24px;

		&:focus {

			box-shadow: 0 0 15px 4px rgba(38, 64, 102, 0.2);
		}
	}

	&__button {	

		position: absolute;
		top: 0;
		right: 0;	
		height: 100%;
		flex: 0 0 auto;
		margin-left: -40px;
		background: $colorSecondary;
		border-radius: 16px;
		fill: white;
		width: 82px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

		&:hover {

			fill: $colorSecondary;
			background: $colorPrimary;
		}
	}
}

@include _892 {

	.site-search {

		&__input {

			padding: 13px 76px 13px 24px;
		}

		&__button {

			width: 70px;
		}
	}
}