/*============================================================================
	#Advantage Cards
==============================================================================*/
.advantage-cards {

	.section__header {

		justify-content: center;
		margin-bottom: 60px;
	}

	._deco-round {

		width: 1200px;
		height: 1200px;

		bottom: -70px;
		left: -470px;
	}

}