/*============================================================================
	#Advantage Cards
==============================================================================*/
.advantage-cards {

	.section__header {

		justify-content: center;
	}

	.section__body {

		padding-top: 20px;
	}

	._deco-round {

		width: 1200px;
		height: 1200px;

		bottom: -70px;
		left: -470px;
	}

}

@include _1200 {

	.advantage-cards {

		.section__body {

			padding-top: 0;
		}
	}
}

@include _1024 {

	.advantage-cards {

		.cards__grid {

			justify-content: center;
		}
	}
}

@include _395 {

	.info-card {
		
		&__title {

			font-size: 20px;
		}
	}
}