/*============================================================================
	#Advantage Cards
==============================================================================*/
.advantage-cards {

	padding-bottom: 80px;

	.section__header {

		justify-content: center;
		margin-bottom: 60px;
	}

}