/*============================================================================
	#Footer
==============================================================================*/
.footer-logo {

	&__link {

		display: block;
		transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
		margin-bottom: 24px;

		&:hover {

			opacity: 0.8;
		}
	}
}

.footer-contacts {

	&__title {

		color: white;
		font-family: $fontPrimary;
		font-size: 24px;
		font-weight: $regular;
		line-height: 1.41;
		margin-bottom: 16px;
	}

	&__list-items {

		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__item {

		margin-bottom: 16px;

		&:last-child {

			margin-bottom: 0;
		}
	}
}

.footer-email {

	color: #D4D9E0;
	font-size: 18px;
	line-height: 1.4;
	opacity: 0.5;
	text-decoration: none;
	transition: opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {

		opacity: 1;
	}
}

.subscribe {

	&__header {

		margin-bottom: 18px;
	}

	&__title {

		font-size: 18px;
		font-weight: $regular;
		line-height: 1.4;
	}
}

.subscribe-form {

	.form__group {

		display: flex;
	}

	.form__input {

		color: white;
		padding-right: 35px;

		&:focus {

			border-color: $colorPrimary;
		}
	}

	&__button {

		position: relative;
		font-family: $fontSecondary;
		font-weight: $bold;
		color: $colorGeneral;
		font-size: 18px;
		line-height: 22px;
		padding: 10px;
		background: white;
		border-radius: 16px;
		width: 126px;
		flex: 0 0 126px;
		margin-left: -30px;
		transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

		&:hover {

			background: $colorPrimary;
		}
	}
}

.footer {

	padding: 100px 0 100px;
	background: $colorGeneral;
	color: white;
	position: relative;
	z-index: 1;

	&__inner {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__logo {

		flex: 0 0 auto;
	}

	&__button {

		width: 100%;
	}

	&__menu {

		display: flex;
	}

	&__nav {

		width: 140px;
		margin-right: 20px;
	}

	&__subscribe {

		flex: 0 0 395px;
		max-width: 395px;
	}

	&__social {

		margin-top: 16px;
	}
}

@media (max-width: 1260px){

	.footer {

		padding-bottom: 60px;

		&__inner {

			max-width: 920px;
			margin: 0 auto;

			> * {

				margin-bottom: 40px;
			}
		}

		&__menu,
		&__contacts,
		&__subscribe {

			flex: 0 0 50%;
		}

		&__menu {

			justify-content: flex-end;
		}  
	}
}

@include _768 {

	.footer {
		padding: 60px 0 20px;

		&__inner {

			// flex-direction: column;
			flex-wrap: wrap;
			max-width: 400px;
			margin: 0 auto;
		}

		&__logo {

			flex: 0 0 100%;
			text-align: center;
			margin-bottom: 40px;
		}

		&__menu,
		&__contacts,
		&__subscribe {

			flex: 0 0 100%;
		}

		&__menu {

			justify-content: space-between;
		}

	}
}

@include _485 {

	.footer-contacts {

		&__title {

			font-size: 18px;
			margin-bottom: 10px;
		}

	}


	.subscribe {

		&__title {

			font-size: 16px;
		}
	}

	.subscribe-form {

		&__button {

			width: 100%;
			flex: 0 0 86px;
			max-width: 86px;
		}
	}

	.footer {

		&__subscribe {

			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}

@include _395 {

	.footer-logo {

		&__link img {

			max-width: 220px;
		}
	}
}