/*============================================================================
	#Header
==============================================================================*/

.site-logo {

	max-width: 149px;
	display: block;

	&--mobile {

		max-width: 122px;
	}
}

.header {
	
	position: relative;
	z-index: 100;

	&__main {

		border-bottom: 1px solid $colorC1C1C3;
	}

	box-shadow: 0px 2px 20px rgba(38, 64, 102, 0.12);

}

.header-dashboard {

	display: flex;
	align-items: center;

	&__user {

		position: relative;
	}

	&__avatar {

		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 100%;
		cursor: pointer;
		transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

		img {

			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&:hover {

			box-shadow: 0 0 0 2px $colorSecondary;

			img {

				opacity: .9;
			}
		}
	}

	&__msg-count {

		position: absolute;
		top: -2px;
		right: -4px;
		width: 20px;
		height: 20px;
		background: #DD1B1B;
		color: white;
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 20px;
		font-size: 12px;
		font-weight: 500;
		border: 2px solid white;
		border-radius: 100%;
	}

	&__logout {

		color: $color8D9AAE;
		margin-left: 24px;
		transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

		&:hover {

			color: $colorSecondary;
		}
	}
}

.header-dashboard--mobile {

	.header-dashboard__avatar {
		
		width: 34px;
		height: 34px;
	}

	.header-dashboard__msg-count {

		top: -5px;
		right: -5px;
	}
}

.header-search {

	padding: 7px 0;
	position: relative;

	.icon-search {

		fill: $colorSecondary;
		width: 18px;
		height: 18px;
		transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__button {

		padding: 8px;
		display: flex;

		&:hover {

			.icon {

				fill: $colorPrimary;
			}
		}
	}

	&__form {

		position: absolute;
		width: 100%;
		top: 50%;
		right: 0;
		transform: translateY(-50%) translateX(0);
		opacity: 0;
		pointer-events: none;
		transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		z-index: 1;
	}

	&__form-group {

		position: relative;

		.icon {

			position: absolute;
			left: 14px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__form-input {
	
		padding: 12px 13px 12px 40px;
		background: $colorF4F5F7;
		border: 1px solid $colorC1C1C3;
		border-radius: 16px;
		box-shadow: 0px 2px 10px rgba(38, 64, 102, 0.17);
		width: 100%;

		&::placeholder {

			color: $color8D9AAE;
		}
	}
}

.header-search.is-active {

	.header-search__form {

		width: 234px;
		opacity: 1;
		pointer-events: all;
	}
}

.header-main {

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;

	&__logo {

		flex: 1 1 100%;
	}

	&__menu {

		flex: 0 0 auto;
	}

	&__controls,
	&__dashboard {
		
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__controls-buttons {

		display: flex;
		// flex-wrap: wrap;
	}

	&__social {

		display: none;
		padding: 36px 0;
	}

	&__search {

		margin-right: 8px;
	}

	&__button {

		width: 153px;
		padding-left: 0;
		padding-right: 0;

		&:last-of-type {

			margin-left: 10px;
		}
	}
}

.header-bottom {

	&__nav {

		display: flex;
		justify-content: center;
	}
}

@include _1024 {

	.header {

		// display: none;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: none;
		padding-top: 60px;
		transition: background 0.8s cubic-bezier(0.165, 0.84, 0.44, 1),
		visibility 0s .8s linear;

		.container {

			display: flex;
			flex-direction: column;
			height: 100%;
			overflow: auto;
			transform: scale(1.2);
			opacity: 0;
			transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&__main {

			border: none;
		}

		&__bottom {

			order: -1;
			padding-bottom: 12px;
		}

		&.is-visible {

			visibility: visible;
			background: white;
			transition:background 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0s 0s linear;

			.container {

				opacity: 1;
				transform: scale(1);
			}
		}
	}

	.header-main {

		flex-direction: column;
		margin-top: auto;

		&__logo,
		&__search {

			display: none;
		}

		&__menu {

			padding-bottom: 24px;
		}

		&__controls-buttons {

			flex-wrap: wrap;
		}

		&__social {

			display: block;
		}
	}

	.header-bottom__nav {

		padding: 40px 0;
	}
}

@include _485 {

	.header-main {

		&__controls {

			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__controls-buttons {

			flex: 1 1 auto;
			justify-content: center;
		}

		&__button {

			width: 100%;
			flex: 0 1 280px;

			&:last-of-type {
				margin-left: 0px;
				margin-top: 16px;
			}
		}
	}

	.header-bottom__nav {
    	padding: 32px 0 16px;
	}
}

@media (max-width: 350px) {

	.header-search {

		&__form {

			right: -50px;
		}
	}
}