/*============================================================================
	#Home Categories
==============================================================================*/

.home-categories {

	padding-bottom: 118px;

	&__container {

		max-width: 982px;
	}

	&__search {

		padding: 80px 0;
		display: flex;
		justify-content: center;
	}

	&__main {
	
	}

	&__header {

		margin-bottom: 40px;
	}

	&__title {

		text-align: center;
	}
}