/*============================================================================
	#Home Categories
==============================================================================*/

.home-categories {


	&__container {

		// max-width: 984px;
		position: relative;
	}

	&__search {

		padding: 80px 0;
		display: flex;
		justify-content: center;
	}

	&__main {
	
	}

	&__header {

		margin-bottom: 40px;
	}

	&__title {

		text-align: center;
	}

	._deco-round {

		top: 230px;
    	left: -440px;
	}
}

@include _1024 {

	.home-categories {

		&__header {

			margin-bottom: 32px;
		}

		&__search {

			padding: 60px 0;
		}
	}
}

@include _892 {

	.home-categories {

		&__header {

			margin-bottom: 26px;
		}

		&__search {

			padding: 40px 0;
		}
	}
}

@include _575 {

	.home-categories {

		&__header {

			margin-bottom: 22px;
		}

	}
}

@include _575 {

	.home-categories {

		&__header {

			margin-bottom: 18px;
		}

	}
}