/*============================================================================
	#Home Categories
==============================================================================*/

.home-categories {


	&__container {

		max-width: 982px;
		position: relative;
	}

	&__search {

		padding: 80px 0;
		display: flex;
		justify-content: center;
	}

	&__main {
	
	}

	&__header {

		margin-bottom: 40px;
	}

	&__title {

		text-align: center;
	}

	._deco-round {

		top: 230px;
    	left: -440px;
	}
}