/*============================================================================
	#Mobile 
==============================================================================*/

.mobile-header {

	display: none;
	padding: 8px 0;
	position: relative;
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;

	.container {

		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@include _1024 {

	.mobile-header {

		display: block;
	}
}