/*============================================================================
	#Modals
==============================================================================*/
.site__modals {
	display: none;
}

.modal {

	position: relative;

	&__close {

		position: absolute;
		top: 12px;
		right: 8px;
		width: 20px;
		height: 20px;
		

		&::before,
		&::after {

			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			height: 2px;
			width: 17px;
			background: $color8D9AAE;
			transform:  translate(-50%, -50%) rotate(45deg);
			transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		&::after {

			transform:  translate(-50%, -50%) rotate(-45deg);
		}

		&:hover {

			&::before,
			&::after {

				background: $colorSecondary;
			}
		}
	}
}

.modal-video {

	max-width: 1380px;
	margin: 0 auto;
	position: relative;
	padding-top: 52px;
	padding-bottom: 52px;

	.button-close {

		position: absolute;
		top: 0px;
		right: 0;
	}
}

.modal-alert {

	background: white;
	max-width: 522px;
	border-radius: 16px;
	margin: 0 auto;
	position: relative;

	&__inner {

		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 312px;
		text-align: center;
	}

	&__title {

		@include H4_Desktop;
		color: $colorSecondary;
		margin-bottom: 16px;
	}

	&__text {

		@include Text18_Desktop;
		color: $colorSecondary;
		margin-bottom: 24px;		
	}

	.button-primary {

		color: white;
	}
}

@include _1024 {

	.modal-video {

		// .button-play {

		// 	visibility: hidden;
		// 	display: none;
		// }
	}
}

@include _485 {

	.modal-hero {
		
		padding: 0;
	}
	
}