/*============================================================================
	#Section About
==============================================================================*/

.section-about {

	background: $colorSecondary;
	color: white;
	padding: 120px 0 50px;

	&__inner {
	
		display: flex;
		justify-content: space-between;
	}

	&__content {

		max-width: 490px;
		margin-right: 80px;
		margin-bottom: 40px;
	}

	&__media {
		position: relative;
		margin-right: 60px;
	}

	&__image {

		position: relative;
		z-index: 1;
	}
	
	._deco-item {
		border-radius: 100%;
		border-color: $colorPrimary;
		background: $colorPrimary;
		position: absolute;
		
		&:first-child {

			max-width: 197px;
			max-height: 197px;
			width: 14vw;
			height: 14vw;
			border-width: 24px;
			border-style: solid;
			background: transparent;
			top: 15%;
			left: -60px;
			
		}

		&:nth-child(2) {

			max-width: 140px;
			max-height: 140px;
			height: 8.5vw;
			width: 8.5vw;
			bottom: 38%;
			right: -15px;
		}

		&:nth-child(3) {

			max-width: 40px;
			max-height: 40px;
			width: 2.4vw;
			height: 2.4vw;

			bottom: 59%;
			right: -40px;
		}
	}

	._deco-dots {

		position: absolute;
		width: 170px;
		height: 190px;
		fill: #163157;
		bottom: 10%;
		left: 40px;
	}
}

.block-checklist {

	&__header {

		margin-bottom: 34px;
	}

	&__title {

		color: white;
	}

	&__body {

		margin-bottom: 46px;
	}

	&__button {

		max-width: 420px;
		width: 100%;
		min-width: auto;
	}
	
}

.custom-list {

	margin: 0;
	padding: 0;
	list-style-type: none;

	&__item {

		display: flex;
		align-items: center;
		padding: 16px 0;
		font-size: 18px;
		font-weight: $medium;
		line-height: 1.4;
		position: relative;

		&:last-child {

			&::after {

				display: none;
			}
		}
		
		&::after {

			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 360px;
			background: $color8D9AAE;
			opacity: .2;
		}

	}

	&__item .icon {

		margin-right: 24px;
		flex: 0 0 auto;
		align-self: flex-start;
	} 
}

.custom-list--profile {

	display: flex;
	flex-wrap: wrap;

	.custom-list__item {

		flex: 0 0 50%;
		align-items: flex-start;

		&:nth-child(2n+1) {
			padding-right: 20px;
		}
	}
}

@include _1200 {

	.section-about {

		padding-top: 80px;

		&__media {

			margin-right: 20px;
			display: flex;
			align-items: center;
		}

		&__content {

			margin-right: 40px;
		}

		._deco-item:first-child {

			left: 0;
		}
	}

	.block-checklist {

		&__header {

			margin-bottom: 28px;
		}
	}
}

@include _1024 {

	.section-about {

		&__content {

			max-width: 390px;
		}

		._deco-item:first-child {

			border-width: 16px;
			left: 60px;
		}
	}

	.block-checklist {

		&__header {

			margin-bottom: 24px;
		}
	}

	.custom-list:not(.custom-list--profile) {

		&__item {

			font-size: 16px;
			padding: 8px 0;

			&::after {

				width: 100%;
			}
		}
	}

	.custom-list--profile {

		.custom-list__item {

			&::after {

				width: 85%;
			}
		}
	}
}

@include _768 {

	.section-about {

		&__inner {
			max-width: 485px;
			margin: 0 auto;
			flex-direction: column;
		}

		&__content {

			max-width: 100%;
			margin-right: 0;
		}

		._deco-item:nth-child(3) {

			width: 5vw;
			height: 5vw;
		}

		._deco-item:nth-child(2) {

			height: 16vw;
			width: 16vw;
		}

		._deco-item:first-child {

			width: 20vw;
			height: 20vw;
			left: -50px;
		}

		._deco-dots {
			width: 120px;
			height: 150px;
		}
	}

	.custom-list__item {
    
		padding: 16px 0;
		font-size: 18px;
	}

	.custom-list--profile {

		.custom-list__item {

			flex: 0 0 100%;

		}
	}
}


@include _575 {

	.section-about {

		padding-top: 40px;

		&__media {

			margin-right: 0;
		}

		._deco-item:first-child {
			width: 25vw;
			height: 25vw;
			left: -20px;
		}

		._deco-dots {
			width: 90px;
			height: 100px;
			left: 30px;
		}
	}
}

@include _485 {

	.section-about {
	
		._deco-item:first-child {
			width: 30vw;
			height: 30vw;
			border-width: 10px;
		}
	}
}

@include _395 {

	.custom-list {

		&__item {

			font-size: 16px;

		}
	}
}

